body {
  height: 100vh;
  background-color: black;
}

.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  border: 2px var(--border-style) blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 500px;
}
